[user]
	email = usn0emo@gmail.com
	name = Albert Shefner

[alias]
    st = status
    co = commit
    unco = reset --soft HEAD~1
    ch = checkout
    br = branch
    unstage = reset HEAD --
    last = log -1 HEAD

[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential

[init]
	defaultBranch = main

[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
